{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}



<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="new_people" >
                    <h2>Not Found Error-500</h2>
                </div>
                <div class="sign-in-form-top text-center" style="margin-top: 30px;">
                    <h1>The request of URL was not found on this server.</h1>
                </div>
            </div>
        </div>
    </div>
<!--footer section start-->
{% endblock body %}
<!--footer section end-->
</section>