{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper" style="height: 100%;">
				<div class="graphs" style="height: 100%;">
					<div class="sign-in-form" style="height: 100%; ">
						<div class="sign-in-form-top">
                            <h1>Something went wrong please re-request the activation link. Thankyou</h1>
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
		{% endblock body %}
        <!--footer section end-->
	</section>
