{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block body %}
  

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Please check your Email for activate your account.</h1>
						</div>
						<div class="new_people">
							<h2>Thank You</h2><p></p>
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
		{% endblock body %}
        <!--footer section end-->
	</section>