{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
  

	 <section>
			<div id="page-wrapper" class="sign-in-wrapper" style="height: 100%;">
				<div class="graphs" style="height: 100%;">
					<div class="sign-in-form" style="height: 100%;">
						<div class="sign-in-form-top">
							<h1>password has been successfully changed.</h1>
						</div>
						<div class="new_people">
							<h2>Now Start Again</h2><p></p>
							<a href="/accounts/login/">Login</a>
						</div>
					</div>
				</div>
			</div>
		<!--footer section start-->
		{% endblock body %}
        <!--footer section end-->
	</section>

  